.top {
	background: #9D9FA1;
	width: 100%;
}

.emptytextbox {
	color: #cccccc;
}

.examplename {
	font-weight: bold;
}

.examplepanel {
	margin: 5px;
	border: 1px #cccccc solid;
	border-radius: 5px; 
	float: left;
	cursor: pointer;
	padding: 5px;
}

.exampletags {
	font-style: italic;
	color: #aaaaaa;
	font-size: small;
}

.examplepanel:hover {
	background-color: #EEEEEE;
	font-style: italic;
	color: #aaaaaa;
	font-size: small;
}