Getting started

  The easiest way to get started with GWT-OpenLayers is to have a look at the GWT-Openlayers showcase. This showcase is itself a GWT application and it demonstrates various functionalities that GWT-OpenLayers has to offer.

  NOTE: This documentation was released with GWT-OpenLayers ${projectVersion}.

* Running the GWT-OpenLayers Showcase in three easy steps

  First, you will need to obtain the GWT-openlayers zipped sources from {{{https://sourceforge.net/projects/gwt-openlayers/files/}our sourceforge downloads}}.

  Second, you will need to install Maven (v2.2.1+), if you haven't already got that on your machine.

  Third, open the commandline at the gwt-openlayers-showcase folder and startup the showcase by running:

+--
>mvn gwt:run
+--

  NOTE: You need to be connected to the internet to run the showcase. Maven may need to download dependencies and the showcase uses several online resources.

* Troubleshooting

  If you are missing the gwt-openlayers-client and gwt-openlayers-server dependencies you may need to go the respective folders and run:

+--
>mvn install
+--

More Information

  For more information see the {{{user-reference.html}user reference}}.
