Welcome to GWT-OpenLayers ${projectVersion}

  GWT-OpenLayers is a Java wrapper for the OpenLayers JavaScript API. It allows GWT projects to use the OpenLayers JavaScript API.
  
* A Special Message

  GWT-OpenLayers takes full advantage of the amazing OpenLayers JavaScript API. On behalf of GWT Developers... Thank You for producing such an amazing piece of software that we Java developers wrap and use in our native language.
  
  Visit {{http://openlayers.org}}.
  
* Where can I get it?

  * Download the master from our github page {{https://github.com/geosdi/GWT-OpenLayers/archive/master.zip}}.
  
  * Build it from source by taking a github clone from {{https://github.com/geosdi/GWT-OpenLayers}} and building with maven 2.2.1+. 
  
  * Consume it as a maven dependency (see below).

* Maven Developers

  Since 0.5, GWT-Openlayers has been a Maven project and is released to central (via sonatype). Use the following dependency:
  
---
<dependency>
	<groupId>${projectGroupId}</groupId>
	<artifactId>${projectArtifactId}-client</artifactId>
	<version>${projectVersion}</version>
</dependency>
---  
  
* How do I use it?

  * Check out the {{{./user-reference.html}user reference}}. Here you find information what to inherit in your GWT project, and you will find a link to {{{http://demo.gwt-openlayers.org}the showcase}}.
  * If you get stuck you can always visit our IRC channel.
  
  	* Server: irc.freenode.net
  	
  	* Channel: #gwt-openlayers
  	
* Showcase

	* Check out the GWT-OpenLayers showcase at {{{http://demo.gwt-openlayers.org}the showcase}}.
	
* Google+ Group
  
    * Join our Google+ group at {{{https://plus.google.com/u/0/communities/109137404279382952520}Google+}}.
